@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.card-icon-red{
  /* filter: drop-shadow(0px 1000px 0 #FF2929);
  transform: translateY(-1000px); */
  filter:
    /* brightness(1000%) grayscale(100%)  */
    /* To change the image color to the white */
     opacity(0.1) 
     /* To apply the color all over the image */
    drop-shadow(0 0 0 #FF2929) /* To apply my costum color */
     drop-shadow(0 0 0 #FF2929) /* To apply my costum color more stronger */
    /*  drop-shadow(0 0 0 red) */
    drop-shadow(0 0 0 #FF2929)
    drop-shadow(0 0 0 #FF2929);
}

.about-bg{
  background-color: #2b2727;
  position: relative;
}

.box-shadow{
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
              -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.label::before{
  content: '+';
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}

.li input[type='radio']:checked + label + .content{
  max-height: 400px;
  padding: 10px 10px 20px;
}
.li input[type='radio']:checked + label::before{
  content: '-';
}